
*.pyo
*.pyc
.DS_Store
*.vim

build*
dist*
zoomdata.egg*

build/lib/zoomdata/src/static_builder.py

build/lib/zoomdata/src/static_builder.py

build/lib/zoomdata/src/static_builder.py

build/lib/zoomdata/src/static_builder.py
