
/*Table containing the selector con the jquery-confirm*/
table.pickers{
    color:white !important; 
    font-size:14px;
    border-spacing:5px;
    border-collapse:separate;
    margin-left:10%
}

/*Pickers button style*/
.btnp{
    background-color: #DDD;
    border-radius: 6px;
    color: black;
    border: 0px;
    font-size:13px;
}
.pickers{
    width: 90%;
    color: black; 
}
